<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.general.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Search" />

        <activity android:name=".Search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Notify"
            android:label="@string/app1_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationView"
            android:label="Details of notification"
            android:parentActivityName=".Notify">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notify" />
        </activity>
        <activity
            android:name=".NV"
            android:label="notification"
            android:parentActivityName=".add">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NV" />
        </activity>
        <activity android:name=".details" />
        <activity android:name=".book" />
        <activity android:name=".After24h" />
        <activity android:name=".add" android:theme="@android:style/Theme.NoDisplay"></activity>
    </application>

</manifest>